AttendanceRecords.css

.attendance-container {
    border: 1px solid #ffffff; /* Green border color */
    border-radius: 5px;
    padding: 40px; /* Increased padding */
    margin-bottom: 10px; /* Increased margin bottom for more spacing */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-gap: 20px; /* Gap between the columns */
    margin-right: auto;
  }
  .h2{
    font-style: italic;
  font-size: 25px;
  color: #f8f8f8;
  margin-left: 10px;
  }

  .h2 h2{
    font-style: italic;
  font-size: 25px;
  color: #ffffff;
  margin-left: 10%;
  margin-left: 10px;
  
  }
  
  .attendance-card {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    background-color: #ff000032;
    margin-left: 10px;
  }
  
  .subject-name {
    font-weight: bold;
    
  }
  
  .attendance-stats {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    
  }
  
  .total-attendance {
    font-size: 14px;
    
  }
  
  .percentage {
    font-size: 16px;
  }
  
  /* Responsive Styles */
  
  @media screen and (max-width: 768px) {
    .attendance-container {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 10px;
      margin-bottom: 10%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .attendance-container {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-gap: 5px;
    }
  }
  
  /* Add more media queries as needed for different screen sizes */
  